<div>
  <h2 id="page-heading" data-cy="HeroHeading">
    <span jhiTranslate="lunaheroesApp.hero.home.title">Heroes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lunaheroesApp.hero.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hero"
        [routerLink]="['/hero/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lunaheroesApp.hero.home.createLabel"> Create a new Hero </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="heroes?.length === 0">
    <span jhiTranslate="lunaheroesApp.hero.home.notFound">No heroes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="heroes && heroes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="lunaheroesApp.hero.nome">Nome</span></th>
          <th scope="col"><span jhiTranslate="lunaheroesApp.hero.eta">Eta</span></th>
          <th scope="col"><span jhiTranslate="lunaheroesApp.hero.sex">Sex</span></th>
          <th scope="col"><span jhiTranslate="lunaheroesApp.hero.segni">Segni</span></th>
          <th scope="col"><span jhiTranslate="lunaheroesApp.hero.note">Note</span></th>
          <th scope="col"><span jhiTranslate="lunaheroesApp.hero.user">User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hero of heroes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/hero', hero.id, 'view']">{{ hero.id }}</a>
          </td>
          <td>{{ hero.nome }}</td>
          <td>{{ hero.eta }}</td>
          <td jhiTranslate="{{ 'lunaheroesApp.Sex.' + hero.sex }}">{{ hero.sex }}</td>
          <td>{{ hero.segni }}</td>
          <td>{{ hero.note }}</td>
          <td>
            {{ hero.user?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/hero', hero.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/hero', hero.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(hero)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
