<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="hero">
      <h2 data-cy="heroDetailsHeading"><span jhiTranslate="lunaheroesApp.hero.detail.title">Hero</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ hero.id }}</span>
        </dd>
        <dt><span jhiTranslate="lunaheroesApp.hero.nome">Nome</span></dt>
        <dd>
          <span>{{ hero.nome }}</span>
        </dd>
        <dt><span jhiTranslate="lunaheroesApp.hero.eta">Eta</span></dt>
        <dd>
          <span>{{ hero.eta }}</span>
        </dd>
        <dt><span jhiTranslate="lunaheroesApp.hero.sex">Sex</span></dt>
        <dd>
          <span jhiTranslate="{{ 'lunaheroesApp.Sex.' + hero.sex }}">{{ hero.sex }}</span>
        </dd>
        <dt><span jhiTranslate="lunaheroesApp.hero.segni">Segni</span></dt>
        <dd>
          <span>{{ hero.segni }}</span>
        </dd>
        <dt><span jhiTranslate="lunaheroesApp.hero.note">Note</span></dt>
        <dd>
          <span>{{ hero.note }}</span>
        </dd>
        <dt><span jhiTranslate="lunaheroesApp.hero.user">User</span></dt>
        <dd>
          <span>{{ hero.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/hero', hero.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
